* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#drawingArea {
    width: 600px;
    height: 600px;
    background: #dbdbdb;
    display: grid;
 
}

.drawingTile {
    user-select: none;
}

.drawingTile:hover {
  
}